# Ignorar todos los archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de caché en subdirectorios
**/__pycache__/
**/*.pyc

# Ignorar el archivo de log generado
importacion_cursos.txt
importacion_docentes.txt

# Ignorar horario generado
schedule.pdf

# Ignorar carpeta de PyCharm
.idea


